params {    
		source = ""
    reads = ""
    publish_dir = ""
    qckb = "$PWD/tests/files/qc_kb/"
    genome_size = "$PWD/tests/files/genome_kb/"
    cleaningkb = "$PWD/tests/files/cleaning_kb/"
    blast_kb = "$PWD/tests/files/blast_kb/"
    filtering_kb = "$PWD/tests/files/filtering_kb/"
    allele_cache_kb = "$PWD/tests/files/allele_cache_kb/"
    blastdb = "/mnt/batch/tasks/startup/wd/allele_call_files/blast_allele_db/"  
    midas_dir ="/mnt/batch/tasks/startup/wd/MIDAS/midas_db_v1.2/"
    ref_ani = "/mnt/batch/tasks/startup/wd/RGDv3/species.tsv"
    salm_ani = "/mnt/batch/tasks/startup/wd/SALM-ANI-References/species.tsv"
    plasmid_ref ="/mnt/batch/tasks/startup/wd/plasmidfinder_db/" 
    virulence_ref = "/mnt/batch/tasks/startup/wd/virulencefinder_db/"
    loci = "/mnt/batch/tasks/startup/wd/allele_call_files/loci/"
    allele_cache_ref = "/mnt/batch/tasks/startup/wd/allele_cache/"
    nomenclature_setting = "/mnt/batch/tasks/startup/wd/NomenclatureServerSettings/"
    masterOutScript = "$PWD/CreateMasterOutput.py"
    initialMaster = "$PWD/tests/files/initialMasterOut.json"
    genotypeFormatter = "$PWD/tests/files/genotypeFormatter.py"
    adxScript = "$PWD/tests/files/adx_analysis_data.py"
    scheme_mapping_kb = "$PWD/tests/files/scheme_mapping_kb/"
    mlstCC_script = "$PWD/tests/files/MLST_CC.py"
    cc_mapping = "$PWD/tests/files/ST_CC_mapping.json"
    stec_otypes = "$PWD/dbs/O_type.fsa"
    stec_htypes = "$PWD/dbs/H_type.fsa"
    stec_lookup_table = "$PWD/dbs/serotype_lookup_table.txt"
    shigacheck1_script = "$PWD/scripts/shigacheck1.py"
    shigapass_db = "/mnt/batch/tasks/startup/wd/ShigaPass_DataBases/"
    pathotypefinder_db = "$PWD/dbs/pathotypefinder_db/"
    holotoxins = "$PWD/dbs/stxtyper/"
    cbot_toxintyping_db = "$PWD/dbs/cbot_toxintyping_db/"
		ignore_qc = "false"
    non_surv_orgs = "false"
}
plugins { 
  id 'nf-azure@1.10.1'
  id 'nf-weblog@1.1.2'
  id 'nf-cloudcache@0.4.2'
}
process {
  executor = 'azurebatch'
  errorStrategy  = { task.exitStatus != 3 && task.attempt  <= 2 ? 'retry' : 'ignore' }
  maxRetries = 5
  withName:DEINTERLEAVE {
    queue = '1cpu_4mem_37hdd_routable_ubuntu22'
    container =  'plsndevwebcr.azurecr.io/sratoolkit:ver1.1'
  }
  withName:FETCH_READ_PATHS {
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container =  'plsndevwebcr.azurecr.io/ngs-pipeline-process-cleanupreads:ver1.3'
  }
	withName:FETCH_ASSEMBLY_PATH {
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container =  'plsndevwebcr.azurecr.io/ngs-pipeline-process-cleanupreads:ver1.3'
  }
  withName:INIT_ASSEMBLY_ONLY_MASTER {
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container =  'plsndevwebcr.azurecr.io/ngs-pipeline-process-cleanupreads:ver1.3'
  }
  withName:ADX_ASSEMBLY_ONLY {
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container =  'plsndevwebcr.azurecr.io/ngs-pipeline-process-cleanupreads:ver1.3'
  }
  withName:GZIP_ASSEMBLY {
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container =  'plsndevwebcr.azurecr.io/ngs-pipeline-process-cleanupreads:ver1.3'
  }
  withName:GENUS_IDENTIFY {
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container =  'plsndevwebcr.azurecr.io/ngs-pipeline-process-midas:ver2.1'
  }
  withName:PREPARE_READS {
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container =  'plsndevwebcr.azurecr.io/ngs-pipeline-process-cleanupreads:ver1.3'
  }
  withName:MIDAS {
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container =  'plsndevwebcr.azurecr.io/ngs-pipeline-process-midas:ver2.1'
  }
  withName:GENERATE_ASSEMBLY {
    queue = '8cpu_32mem_300hdd_nonroutable_ubuntu22'
    container =  'plsndevwebcr.azurecr.io/ngs-pipeline-process-generateassembly:ver1.2'
  }
  withName:CORRECT_ASSEMBLY {
    queue = '8cpu_32mem_300hdd_nonroutable_ubuntu22'
    container =  'plsndevwebcr.azurecr.io/ngs-pipeline-process-correctassembly:ver1.2'
  }
  withName:ANI {
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container =  'plsndevwebcr.azurecr.io/ngs-pipeline-process-ani:ver2.1'
  }
  withName:ALLELE_CALLING {
    queue = '8cpu_32mem_300hdd_nonroutable_ubuntu22'
    container =  'plsndevwebcr.azurecr.io/ngs-pipeline-process-allele-calling:ver1.6'
  }
  withName:ALLELE_FILTERING {
    queue = '8cpu_32mem_300hdd_nonroutable_ubuntu22'
    container =  'plsndevwebcr.azurecr.io/ngs-pipeline-process-allele-calling:ver1.6'
  }
  withName:ALLELE_NAMING {
    queue = '1cpu_4mem_37hdd_routable_ubuntu22'
    container =  'plsndevwebcr.azurecr.io/ngs-pipeline-process-allele-naming:ver1.1'
  }
  withName:MLST {
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container =  'plsndevwebcr.azurecr.io/ngs-pipeline-process-mlst:ver1.0'
  }
  withName:FIND_GENES {
    queue = '1cpu_4mem_37hdd_routable_ubuntu22'
    container =  'plsndevwebcr.azurecr.io/ngs-pipeline-process-amrfinder:ver2.2'
  }
  withName:ORG_ANI{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsndevwebcr.azurecr.io/ngs-pipeline-process-ani:ver2.1'
  }
  withName:ISPCR{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsndevwebcr.azurecr.io/ngs-pipeline-process-ispcr:ver3.2'
  }
  withName:SEQSERO{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsndevwebcr.azurecr.io/ngs-pipeline-process-seqsero2:ver3.0'
  }
  withName:KMA{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsndevwebcr.azurecr.io/ngs-pipeline-process-kma:v1.0.11'
  }
  withName:SHIGACHECK{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsndevwebcr.azurecr.io/ngs-pipeline-process-python:3.13'
  }
  withName:SHIGAPASS{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsndevwebcr.azurecr.io/ngs-pipeline-process-shigapass:1.5.0'
  }
  withName:SHIGEIFINDER{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsndevwebcr.azurecr.io/ngs-pipeline-process-shigeifinder:1.3.5'
  }
  withName:STXTYPER{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsndevwebcr.azurecr.io/ngs-pipeline-process-stxtyper:ver1.1'
  }
  withName:STXCONDENSER{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsndevwebcr.azurecr.io/ngs-pipeline-process-stxcondenser:v1.1'
  }
  withName:PATHOTYPE_FINDER{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsndevwebcr.azurecr.io/ngs-pipeline-process-pathotypefinder:ver1.0'
  }
  withName:PLASMIDFINDER{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsndevwebcr.azurecr.io/ngs-pipeline-process-plasmidfinder:ver1.8'
  }
  withName:VIRULENCE_FINDER{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsndevwebcr.azurecr.io/ngs-pipeline-process-virulencefinder:ver1.0'
  }
  withName:VIBRIO_SEROTYPER{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsndevwebcr.azurecr.io/ngs-pipeline-process-vibrio_serotyper:ver1.0'
  }
  withName:VIBRIO_VIRULENCE_FINDER{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsndevwebcr.azurecr.io/vibrio_virulence_typer:ver1.0'
  }
  withName:CBOT_TOXINTYPER{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsndevwebcr.azurecr.io/ngs-pipeline-process-cbot-toxintyping:ver1.1'
  }
  withName:COLLECT_RESULTS_STEC{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsndevwebcr.azurecr.io/ngs-pipeline-process-cleanupreads:ver1.3'
  }
  withName:COLLECT_RESULTS_SALM{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsndevwebcr.azurecr.io/ngs-pipeline-process-cleanupreads:ver1.3'
  }
  withName:COLLECT_RESULTS_LISTERIA{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsndevwebcr.azurecr.io/ngs-pipeline-process-cleanupreads:ver1.3'
  }
  withName:COLLECT_RESULTS_CAMPY{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsndevwebcr.azurecr.io/ngs-pipeline-process-cleanupreads:ver1.3'
  }
  withName:COLLECT_RESULTS_VIBRIO{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsndevwebcr.azurecr.io/ngs-pipeline-process-cleanupreads:ver1.3'
  }
  withName:COLLECT_RESULTS_CRONO{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsndevwebcr.azurecr.io/ngs-pipeline-process-cleanupreads:ver1.3'
  }
  withName:COLLECT_RESULTS_CBOT{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsndevwebcr.azurecr.io/ngs-pipeline-process-cleanupreads:ver1.3'
  }
  withName:COLLECT_RESULTS_YERSINIA{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsndevwebcr.azurecr.io/ngs-pipeline-process-cleanupreads:ver1.3'
  }
  withName:ADX_ANALYSIS_DATA{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsndevwebcr.azurecr.io/ngs-pipeline-process-cleanupreads:ver1.3'
  }
  withName:ADX_ANALYSIS_DATA_QUALITY{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsndevwebcr.azurecr.io/ngs-pipeline-process-cleanupreads:ver1.3'
  }
  withName:INIT_STEC_ASSEMBLY_MASTER{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsndevwebcr.azurecr.io/ngs-pipeline-process-cleanupreads:ver1.3'
  }
  withName:ADX_STEC_ASSEMBLY_TYPING_ONLY{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsndevwebcr.azurecr.io/ngs-pipeline-process-cleanupreads:ver1.3'
  }
  withName:FETCH_ASSEMBLY_PATH_W_NARST{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsndevwebcr.azurecr.io/ngs-pipeline-process-cleanupreads:ver1.3'
  }
  withName:STEC_ASSEMBLY_TYPING{
    queue = '1cpu_4mem_37hdd_nonroutable_ubuntu22'
    container = 'plsnprdwebcr.azurecr.io/ngs-pipeline-process-cleanupreads:ver1.3'
  }
}
env {
    AZCOPY_JOB_PLAN_LOCATION = "."
    AZCOPY_AUTO_LOGIN_TYPE   = "MSI"
    AZCOPY_LOG_LOCATION      = "."
}
azure {
    activeDirectory {
    servicePrincipalId = '33b9230a-fe60-4b78-83c8-2a31b8d76eec'
    servicePrincipalSecret = secrets.SERVICE_PRINCIPAL_SECRET
    tenantId = '9ce70869-60db-44fd-abe8-d2767077fc8f'
  }
  storage {
    accountName = "plsnstorage001"
    tokenDuration = "120h"
  }
  batch {
    copyToolInstallMode = 'off'
    location = 'eastus'
    accountName = 'plsndevbatch001'    
    autoPoolMode = false
    allowPoolCreation = false
    deletePoolsOnCompletion = false
    deleteJobsOnCompletion = true
    deleteTasksOnCompletion = true
    terminateJobsOnCompletion = true

    pools {
      '1cpu_4mem_37hdd_routable_ubuntu22' {
        vmType = 'standard_d8d_v4'
        privileged = true
      }
      '1cpu_4mem_37hdd_nonroutable_ubuntu22' {
        vmType = 'standard_d8d_v4'
        privileged = true
      }
      '8cpu_32mem_300hdd_nonroutable_ubuntu22' {
        vmType = 'standard_A1_v2'
        privileged = true
      }
    }
  }
  retryPolicy{
    delay = "10s"
    maxDelay = "240s"
    maxAttempts = '20'
  }
  registry {
    server = 'plsndevwebcr.azurecr.io'
    userName = 'plsndevwebcr'
    password = secrets.REGISTRY_PASSWORD
  }
}
