params {
    source = ""
    reads = ""
    publish_dir = ""
    qckb = "$PWD/tests/files/qc_kb/"
    genome_size = "$PWD/tests/files/genome_kb/"
    cleaningkb = "$PWD/tests/files/cleaning_kb/"
    blast_kb = "$PWD/tests/files/blast_kb/"
    filtering_kb = "$PWD/tests/files/filtering_kb/"
    allele_cache_kb = "$PWD/tests/files/allele_cache_kb/"
    blastdb = "/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/ref/allele_call_files/blast_allele_db/"
    loci = "/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/ref/allele_call_files/loci/"
    allele_cache_ref = "/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/ref/allele_cache/"
    nomenclature_setting = "/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/ref/NomenclatureServerSettings/"
    ncbi_api_key = "6cdc68b3043c83097d78e9cc7c9206a31608"
    masterOutScript = "$PWD/CreateMasterOutput.py"
    initialMaster = "$PWD/tests/files/initialMasterOut.json"
    genotypeFormatter = "$PWD/tests/files/genotypeFormatter.py"
    adxScript = "$PWD/tests/files/adx_analysis_data.py"
    scheme_mapping_kb = "$PWD/tests/files/scheme_mapping_kb/"
    mlstCC_script = "$PWD/tests/files/MLST_CC.py"
    cc_mapping = "$PWD/tests/files/ST_CC_mapping.json"
    midas_dir = "/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/ref/midas_db_v1.2"
    ref_ani = "/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/ref/RGDv3_v2/species.tsv"
    plasmid_ref = "/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/ref/plasmidfinder_db"
    virulence_ref = "/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/ref/virulencefinder_db"
    salm_ani = "/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/ref/SALM-ANI-References/species.tsv"
    stec_otypes = "$PWD/dbs/H_type.fsa"
    stec_htypes = "$PWD/dbs/O_type.fsa"
    stec_lookup_table = "$PWD/dbs/serotype_lookup_table.txt"
    shigacheck1_script = "$PWD/scripts/shigacheck1.py"
    shigacheck2_script = "$PWD/scripts/shigacheck2.py"
    shigacheck3_script = "$PWD/scripts/shigacheck3.py"
    shigapass_db = "$PWD/dbs/ShigaPass_DataBases"
    pathotypefinder_db = "$PWD/dbs/pathotypefinder_db/"
    holotoxins = "$PWD/dbs/stxtyper/"
    cbot_toxintyping_db = "$PWD/dbs/cbot_toxintyping_db/"
    ignore_qc = "false"
    non_surv_orgs = "false"
}

profiles {
    standard {
        process {
            executor = "sge" 
            penv="smp"
            queue = 'all.q'
            pollInterval = '15 sec'
            errorStrategy = 'ignore'

            withName:DOWNLOAD_SAMPLES{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/sratoolkit_ver1.1.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:PREPARE_READS{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-cleanupreads_ver1.3.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:GENERATE_ASSEMBLY{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-generateassembly_ver1.2.sif'
                cpus = 8
                memory = '32 GB'
            }
            withName:CORRECT_ASSEMBLY{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-correctassembly_ver1.2.sif'
                cpus = 8
                memory = '32 GB'
            }
            withName:MIDAS{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-midas_ver2.1.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:ANI{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-ani_ver2.1.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:ALLELE_CALLING{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-allele-calling_ver1.6.sif'
                cpus = 8
                memory = '32 GB'
            }
            withName:ALLELE_FILTERING{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-allele-calling_ver1.6.sif'
                cpus = 8
                memory = '32 GB'
            }
            withName:ALLELE_NAMING{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-allele-naming_ver1.1.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:MLST{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-mlst_ver1.0.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:ORG_ANI{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-ani_ver2.1.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:ISPCR{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-ispcr_ver3.2.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:SEQSERO{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-seqsero2_ver3.0.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:KMA{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-kma_ver1.0.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:SHIGACHECK{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-shigacheck_ver1.0.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:SHIGAPASS{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-shigapass_v1.0.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:SHIGEIFINDER{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-shigeifinder_v1.0.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:STXTYPER{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-stxtyper_ver1.1.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:STXCONDENSER{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-stxcondenser_ver_1.1.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:PATHOTYPE_FINDER{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-pathotypefinder_ver1.0.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:PLASMIDFINDER{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-plasmidfinder_ver1.9.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:VIRULENCE_FINDER{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-virulencefinder_ver1.0.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:FIND_GENES{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-amrfinder_ver2.2.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:VIBRIO_SEROTYPER{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-vibrio-serotyper_ver1.0.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:VIBRIO_VIRULENCE_FINDER{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-vibrio-virulence-typer_ver1.0.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:CBOT_TOXINTYPER{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-cbot-toxintyping_ver1.1.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:COLLECT_RESULTS_STEC{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-cleanupreads_ver1.3.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:COLLECT_RESULTS_SALM{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-cleanupreads_ver1.3.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:COLLECT_RESULTS_LISTERIA{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-cleanupreads_ver1.3.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:COLLECT_RESULTS_CAMPY{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-cleanupreads_ver1.3.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:COLLECT_RESULTS_VIBRIO{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-cleanupreads_ver1.3.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:COLLECT_RESULTS_CBOT{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-cleanupreads_ver1.3.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:COLLECT_RESULTS_CRONO{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-cleanupreads_ver1.3.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:COLLECT_RESULTS_YERSINIA{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-cleanupreads_ver1.3.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:ADX_ANALYSIS_DATA{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-cleanupreads_ver1.3.sif'
                cpus = 1
                memory = '8 GB'
            }
            withName:ADX_ANALYSIS_DATA_QUALITY{
                container = '/scicomp/groups-pure/OID/NCEZID/DFWED/Projects_DFWED/PN2.0_UAT/containers/ngs-pipeline-process-cleanupreads_ver1.3.sif'
                cpus = 1
                memory = '8 GB'
            }

        }
 
        singularity {
            enabled = true
            autoMounts = true
        }
    }
}
